// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import "./theme-colours.scss";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$primary: $turtle-chalk-darkest;

@import 'bootstrap/scss/bootstrap.scss';


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$MountainTracker-primary: mat.define-palette($turtle-chalk-palette);
$MountainTracker-accent: mat.define-palette($kuretake-black-manga-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$MountainTracker-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$MountainTracker-theme: mat.define-light-theme((
  color: (
    primary: $MountainTracker-primary,
    accent: $MountainTracker-accent,
    warn: $MountainTracker-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($MountainTracker-theme);


html, body { height: 100%; }
body { color: $dark-primary-text; background-color:  $turtle-chalk-darkest;  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
