################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/MountainTrackerDatabase/Utility/UtilityScript.sql
*/bin/*
*/obj/*
*.dbmdl
*.jfm
.vs/*
/MountainTracker.Server/wwwroot/browser
MountainTracker.Client/src/assets/R.jpg
MountainTracker.Client/src/assets/G.png
