################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/MountainTrackerDatabase/Utility/UtilityScript.sql
*/bin/*
*/obj/*
*.dbmdl
*.jfm
.vs/*