
    <div class="container-fluid">
        <country-edit 
            [cardIcon]="faEarth" 
            [selectedCountryOptions]="(selectionCountry$ | async)" 
            [selectCountryOptions]="(countries$ | async)" 
            (countrySelected)="selectCountrySelected($event)"
        ></country-edit>
        <province-or-state-edit 
            [cardIcon]="faFlag" 
            [selectedProvinceOrStateOptions]="(selectionProvinceOrState$ | async)" 
            [selectProvinceOrStateOptions]="(provincesOrStates$ | async)" 
            (provinceOrStateSelected)="provinceOrStateSelected($event)" 
            [selectedCountryId]="(selectedCountryId$ | async)"
        ></province-or-state-edit>
        <region-edit
            [cardIcon]="faMap" 
            [selectedRegionOptions]="(selectionRegion$ | async)" 
            [selectRegionOptions]="(regions$ | async)" 
            [selectedRegionGeoFenceNodeOptions]="(regionGeoFenceNodes$ | async)"
            (regionSelected)="regionSelected($event)" 
            [selectedProvinceOrStateId]="(selectedProvinceOrStateId$ | async)"
            [selectedRegionId]="(selectedRegionId$ | async)"
        ></region-edit>
        <district-edit
            [cardIcon]="faMountainCity" 
            [selectedDistrictOptions]="(selectionDistrict$ | async)" 
            [selectDistrictOptions]="(districts$ | async)" 
            [selectedDistrictGeoFenceNodeOptions]="(districtGeoFenceNodes$ | async)"
            (districtSelected)="districtSelected($event)" 
            [selectedRegionId]="(selectedRegionId$ | async)"
            [selectedDistrictId]="(selectedDistrictId$ | async)"
        ></district-edit>
        <zone-edit
            [cardIcon]="faObjectGroup" 
            [selectedZoneOptions]="(selectionZone$ | async)" 
            [selectZoneOptions]="(zones$ | async)" 
            [selectedZoneGeoFenceNodeOptions]="(zoneGeoFenceNodes$ | async)"
            (zoneSelected)="zoneSelected($event)" 
            [selectedDistrictId]="(selectedDistrictId$ | async)"
            [selectedZoneId]="(selectedZoneId$ | async)"
        ></zone-edit>
        <area-edit
            [cardIcon]="faVectorSquare" 
            [selectedAreaOptions]="(selectionArea$ | async)" 
            [selectAreaOptions]="(areas$ | async)" 
            [selectedAreaGeoFenceNodeOptions]="(areaGeoFenceNodes$ | async)"
            (areaSelected)="areaSelected($event)" 
            [selectedZoneId]="(selectedZoneId$ | async)"
            [selectedAreaId]="(selectedAreaId$ | async)"
        ></area-edit>
        <rock-climbing-wall-edit
            [cardIcon]="faMountainSun" 
            [selectedRockClimbingWallOptions]="(selectionRockClimbingWall$ | async)" 
            [selectRockClimbingWallOptions]="(rockClimbingWalls$ | async)" 
            [selectedRockClimbingWallGeoFenceNodeOptions]="(rockClimbingWallGeoFenceNodes$ | async)"
            (rockClimbingWallSelected)="rockClimbingWallSelected($event)" 
            [selectedAreaId]="(selectedAreaId$ | async)"
            [selectedRockClimbingWallId]="(selectedRockClimbingWallId$ | async)"
        ></rock-climbing-wall-edit>
        <rock-climbing-route-edit
            [cardIcon]="faMountainSun" 
            [selectedRockClimbingRouteOptions]="(selectionRockClimbingRoute$ | async)" 
            [selectRockClimbingRouteOptions]="(rockClimbingRoutes$ | async)" 
            (rockClimbingRouteSelected)="rockClimbingRouteSelected($event)" 
            [selectedRockClimbingRouteId]="(selectedRockClimbingRouteId$ | async)"
            [selectedRockClimbingWallId]="(selectedRockClimbingWallId$ | async)"
        ></rock-climbing-route-edit>
    </div>
