<div class="table-container mat-elevation-z6">
    <div *ngIf="dataSource.data.length > 1" class="filter-header">
        <mat-form-field style="width: 100%;">
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
        </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource">
        
        <ng-container matColumnDef="rowNo">
            <mat-header-cell *matHeaderCellDef> Row No. </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;"> {{i}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="regionCode">
            <mat-header-cell *matHeaderCellDef> {{codeTitle}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.countryCode ?? element.regionCode ?? element.regionCode ?? element?.districtCode ?? element.zoneCode ?? element.areaCode}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="englishFullName">
            <mat-header-cell *matHeaderCellDef> English Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.englishFullName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="parentId">
            <mat-header-cell *matHeaderCellDef> {{parentTitle}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.countryId ?? element.provinceOrStateId ?? element.regionId ?? element.districtId ?? element.zoneId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="latitudeStartOrCenter">
            <mat-header-cell *matHeaderCellDef> Latitude</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.latitudeStartOrCenter}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="longitudeStartOrCenter">
            <mat-header-cell *matHeaderCellDef> Longitude </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.longitudeStartOrCenter}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="thumbPictureBytes">
            <mat-header-cell *matHeaderCellDef> Thumb Picture </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.thumbPictureBytes}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="info">
            <mat-header-cell *matHeaderCellDef> Info </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.info}} </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
