  .table-container{
    width: 100%;
  }

  .filter-header {
    width: 100%;
    min-height: 64px;
    padding: 8px 24px 0;
  }

  .editor-card {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 100%;
  }