<mat-card *ngIf="selectedCountryId"  class="editor-card">
    <mat-card-header>
        <mat-card-title>
            <fa-icon [icon]="cardIcon"></fa-icon>
            Province or State
        </mat-card-title>
    </mat-card-header>    
    <mat-card-content>
        <div class="row container-fluid">
            <div class="col-3 pt-4">
                <focus-selector [noSelectLabel]="noSelectProvinceOrStateLabel" [selectLabel]="selectProvinceOrStateLabel" [selectOptions]="_selectProvinceOrStateOptions" (itemSelected)="this.provinceOrStateSelected.emit($event)"></focus-selector>
            </div>
            <div class="col-9">
                <province-or-state-edit-table [provinceOrStateSource]="_selectedProvinceOrStateOptions" [displayedColumns]="displayedColumns"  ></province-or-state-edit-table>
            </div>
        </div>
    </mat-card-content>
</mat-card>